
.menu-button:hover {
  color:#FFF;
  cursor:pointer;
}
.menu-button {
font-weight:bold;
color:#24F;
position:absolute;
top:0;
right:10px;
float:left;
}

.cwm-menu-container button {
width:90%;
line-height:20px;
margin:10px;
}

.cwm-menu-container ul {
margin:0;
padding:0;
list-style:none;
}
.cwm-menu-container {
display:none;
position:absolute;
background:#FFF;
font-size:14px;
text-align:center;
line-height:24px;
width:100%;
height:100%;
opacity:0.8;
}


.nickname .container {
  margin-top:50px;
}
.nickname label{
display:block;
width:100%;
padding-bottom:5px;
text-align:center;

}
.chat-box .nickname {
text-align:center;
position:absolute;
background:#FFF;
width:100%;
height:100%;
}


div.chat-box.minimize {
  height:20px;
}

.chat-box-title.lightup {
  background-color: #88EEFF;
}

.chat-box-title {
  width:100%;
  cursor:pointer;
  line-height:20px;
  background:#44AADD;
  vertical-align:middle;
}
.chat-box-title:hover {
  background:#66CCFF;
}
.chat-box-title .icon {

margin-top: -7px;
margin-left: -15px;
  float:left;
}
.chat-box-title .caption {
  font-weight:bold;
  color:white;
}
.chat-box {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
  color:#333;
  width:100px; 
  border:1px solid #344150;
  border-bottom:none;
  background-color:white;
  position:fixed;
  right:10px;
  bottom:0;
  z-index:9999;
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.chat-box .sender {
  font-weight:bold;
  padding-right:5px;
}

.sentence span {
  display:inline;
}
.sentence {
  word-wrap:break-word;
}

div.convo {
  height: 150px; 
  padding:0px 10px 5px 10px;
  overflow-y: scroll;
}

.chat-box {
  width:200px;
  border:1px solid #CCC;
  font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
}

div.convo .sentence.error {
  color:#AAA;
  font-style:italic;
}

.chat-box textarea {
  width:178px;
  padding:5px;
  margin-left:5px;
  height:50px;
  margin-bottom:5px;
  resize:none;
}


.chat-box-content .info {
  border-top: 1px dashed #CCC; 
  color:#AAA;
  padding: 5px 5px 5px 5px;
}

div.chat-box.full-window {
  height:auto;
  width: auto;
  top: 0;
  left: 0;
}

.full-window div.chat-box-content {
  height:100%;
}
.full-window div.keyboard {
  height:90%;
  width:100%;
}
.full-window textarea {
  height:100px;
  width:100%;
  padding:0;
  margin:0;  
  bottom:0;
}
.full-window div.convo {
padding:0;
height:50%;

}


