.icon.away {
  background-image: url(css/sprites.png);
  background-position: 0px -36px;
  width: 32px;
  height: 32px;
}
.icon.busy {
  background-image: url(css/sprites.png);
  background-position: 0px -68px;
  width: 32px;
  height: 32px;
}
.icon.error {
  background-image: url(css/sprites.png);
  background-position: 0px 0px;
  width: 14px;
  height: 11px;
}
.icon.loading {
  background-image: url(css/sprites.png);
  background-position: 0px -11px;
  width: 25px;
  height: 25px;
}
.icon.offline {
  background-image: url(css/sprites.png);
  background-position: 0px -100px;
  width: 32px;
  height: 32px;
}
.icon.online {
  background-image: url(css/sprites.png);
  background-position: 0px -132px;
  width: 32px;
  height: 32px;
}
