.icon.away {
  background-image: url(icon.png);
  background-position: 0px -13px;
  width: 16px;
  height: 16px;
}
.icon.busy {
  background-image: url(icon.png);
  background-position: 0px -29px;
  width: 16px;
  height: 16px;
}
.icon.connecting {
  background-image: url(icon.png);
  background-position: 0px -45px;
  width: 16px;
  height: 16px;
}
.icon.error {
  background-image: url(icon.png);
  background-position: 0px 0px;
  width: 16px;
  height: 13px;
}
.icon.loading {
  background-image: url(icon.png);
  background-position: 0px -61px;
  width: 16px;
  height: 16px;
}
.icon.offline {
  background-image: url(icon.png);
  background-position: 0px -77px;
  width: 16px;
  height: 16px;
}
.icon.online {
  background-image: url(icon.png);
  background-position: 0px -93px;
  width: 16px;
  height: 16px;
}
.icon.spritesheet {
  background-image: url(icon.png);
  background-position: 0px -109px;
  width: 1px;
  height: 16px;
}
